[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
typogrify = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
convert = "python ./convert-from-jekyll.py"
